<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawable/ic_launcher</key>
	<integer>36</integer>
	<key>drawable-hdpi/ic_launcher</key>
	<integer>72</integer>
	<key>drawable-mdpi/ic_launcher</key>
	<integer>48</integer>
	<key>drawable-xhdpi/ic_launcher</key>
	<integer>96</integer>
	<key>drawable-xxhdpi/ic_launcher</key>
	<integer>144</integer>
	<key>mipmap-hdpi/ic_launcher</key>
	<integer>72</integer>
	<key>mipmap-mdpi/ic_launcher</key>
	<integer>48</integer>
	<key>mipmap-xhdpi/ic_launcher</key>
	<integer>96</integer>
	<key>mipmap-xxhdpi/ic_launcher</key>
	<integer>144</integer>
	<key>mipmap-xxxhdpi/ic_launcher</key>
	<integer>192</integer>
</dict>
</plist>
